# Database
DATABASE_URL=
DB_HOST=
DB_PORT=
DB_PASSWORD=
DB_USER=
DB_NAME=

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

# Arcjet
ARCJET_API_KEY=

# Social Providers
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Postmark
POSTMARK_SERVER_TOKEN=
POSTMARK_FROM_EMAIL=

# Stripe

STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_BASIC_PRICE_ID=
STRIPE_PRO_PRICE_ID=